<div>

  <div style="position: absolute; top: 0; left: 0; width: 200px; bottom: 0; padding: 8px; overflow: auto;">

    <div class="d-grid gap-2">
      <template v-for="(page, pageIndex) in pages">
        <button :class="getButtonClasses(pageIndex)" @click="select(pageIndex)">
          <i v-if="page.icon" :class="'bi bi-' + page.icon"></i>
          {{page.name}}
        </button>
      </template>
    </div>

  </div>

  <div style="position: absolute; top: 0; left: 200px; right: 0; bottom: 0; padding: 8px; overflow: auto;">

    <job-viewer
      v-if="selectedPageId === 'job-viewer'"
      :connection="connection"
    ></job-viewer>

    <objects-explorer
      v-show="selectedPageId === 'objects-explorer'"
      :connection="connection"
    ></objects-explorer>

    <query-list
      v-show="selectedPageId === 'query-data'"
      :connection="connection"
    ></query-list>

  </div>

</div>
